@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

// Переменные
// MAIN
$main-sand: #b68155;
$main-sand-secondary: #b47754;
$main-sand-dark: #65554c;

$main-grey-blue: #c7c8cb;
$main-grey: #6d7478;
$main-grey-dark-blue: #63626d;
$main-brown: #2b2523;

// Secondary MAIN
$main-sand2: #e2b392;
$main-sand3: #d4996e;
$main-sand4: #c7885c;
$main-sand4: #b57954;

$main-grey-sand: #c3b7b3;
$main-grey-sand2: #bfa69b;
$main-grey-sand3: #bc9684;
$main-grey-sand4: #b8856c;

$main-contrast-blue: #497eaa;
$main-contrast-blue2: #4b8bab;
$main-contrast-grey-blue: #9aaab3;
$main-contrast-grey-blue2: #727d81;
$main-contrast-grey: #d4dadc;

$main-contrast-brown: #383734;
$main-contrast-brown2: #5b5652;
$main-contrast-brown3: #6d645b;
$main-contrast-brown4: #928b87;
$main-contrast-brown5: #9c9d92;

// BG
$bg-white: #ffffff;
$bg-light: #f8f4f0;
$bg-light2: #f8f4f0;
$bg-light3: #f2e8e0;
$bg-light4: #ebddd1;
$bg-light5: #e4d1c1;
$bg-light6: #dec6b2;

// STROKE
$str-grey: #f2f2f2;
$str-dark-grey: #dbe5f0;
$str-dark-grey: #d5d6d8;

// ТЕКСТ
$text-black: #000000;
$text-brown-dark4: #110c08;
$text-brown-dark3: #21170f;
$text-brown-dark2: #322317;
$text-brown-dark: #422f1f;
$text-brown: #63462e;
$text-brown-light: #63462e;
$text-brown-light2: #745236;
$text-brown-light3: #845e3e;
$text-brown-light4: #956a46;
$text-brown-light5: #a5754d;
$text-brown-light6: #b68155;
$text-white: #ffffff;

$text-grey-light: #a8a8a8;
$text-grey: #6d7478;

// BTN
// Primary
$btn-pr-bg: #b68155;
$btn-pr-t: #ffffff;

$btn-pr-bgh: #b47454;
$btn-pr-th: #ffffff;

$btn-pr-bgcl: #b3663f;
$btn-pr-tcl: #ffffff;

// Secondary
$btn-sec-bg: #ffffff;
$btn-sec-t: #b3663f;

$btn-sec-bgh: #b47454;
$btn-sec-th: #ffffff;

$btn-sec-bgcl: #b3663f;
$btn-sec-tcl: #ffffff;

$btn-sec-bgdes: #928b8700;
$btn-sec-tdes: #928b87;

// Form
$form-bg: #ffffff;
$form-str: #d5e5ee;
$form-text: #919191;
$form-text-lead-in: #363636;
$form-error: #d84e4e;

// ТЕКСТ И ССЫЛКИ
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p,
.btn .btn-sec {
    font-family: 'Nunito', sans-serif;
}

.text-default {
    @apply font-normal text-sm text-black md:text-base xl:text-lg;
}

.text-quess {
    @apply font-normal text-sm text-black md:text-base xl:text-base;
    color: $form-text-lead-in;
}

.link-text {
    color: $main-sand;
}

.none {
    display: none;
}

.block {
    display: block;
}

// BTN КНОПКИ
.btn-tours {
    @apply border border-solid rounded px-3 pb-1 pt-1.5 lg:px-3.5 lg:pb-1.5 lg:pt-2 xl:px-4 xl:pb-2 xl:pt-2.5;

    color: $text-grey;
    border-color: $text-grey;
}

.btn-type-tour {
    @apply rounded-md text-xs px-2 pt-1.5 pb-1 sm:text-sm md:px-4 md:pt-2 md:pb-1.5 md:text-base text-white;
}

.btn-primary {
    @apply border-none rounded font-normal text-center cursor-pointer text-sm py-3 px-5 sm:py-3.5 sm:px-5 md:text-base md:px-6 md:py-4 lg:text-xl lg:px-7 lg:py-4;
}

.btn-secondary {
    @apply border-none rounded font-normal text-center cursor-pointer text-sm py-3 px-5 sm:py-4 sm:px-6 md:text-base md:px-7 md:py-4 lg:text-xl lg:px-7 lg:py-4;
}

.btn-icon {
    @apply rounded font-normal text-center cursor-pointer py-2.5 px-2.5 sm:py-3 sm:px-3 md:px-4 md:py-4 lg:px-4 lg:py-4;
}

.btn {
    background-color: $btn-pr-bg;
    color: $btn-pr-t;

    &:hover {
        background-color: $btn-pr-bgh;
        transition: all 300ms linear;
    }

    &:active {
        background-color: $btn-pr-bgcl;
        color: $btn-pr-tcl;
        transition: all 200ms linear;
    }
}

.btn-sec {
    background-color: $btn-sec-bg;
    color: $btn-sec-t;
    border: 1px solid $btn-sec-t;

    &:hover {
        background-color: $btn-sec-bgh;
        color: $btn-sec-th;
        transition: all 300ms linear;
        border: 1px solid $btn-sec-bgh;
    }

    &:active {
        background-color: $btn-sec-bgcl;
        color: $btn-pr-tcl;
        transition: all 200ms linear;
        border: 1px solid $btn-sec-bgcl;
    }
}

.button-faq {
    font-size: 20px;
    font-weight: 600;
}

// ЗАГОЛОВКИ
h1 {
    font-size: 100px;
    line-height: 110%; /* 110px */
    color: $text-white;

    @media (max-width: 200px) {
        font-size: 24px;
        text-align: center;
    }

    @media (min-width: 200px) and (max-width: 320px) {
        font-size: 30px;
        text-align: center;
    }

    @media (min-width: 320px) and (max-width: 600px) {
        font-size: 40px;
        text-align: center;
    }

    @media (min-width: 600px) and (max-width: 768px) {
        font-size: 60px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 80px;
    }
}

h2 {
    color: $text-black;
    @apply font-normal not-italic text-left pb-6 text-xl pt-8 sm:text-2xl sm:pt-9 md:text-3xl md:pt-10 lg:pb-7 lg:text-4xl lg:pt-20 xl:text-5xl;
}

// ДРУГИЕ СВОЙСТВА

.font-montserrat {
    font-family: Montserrat;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.bg-main-grey-sand {
    background-color: $main-grey-sand;
}

.text-main-grey-sand {
    color: $main-grey-sand;
}

.line-why-us{
    top: 181px;

    @media (max-width: 600px) {
        display: none;
    }

    @media (min-width: 600px) and (max-width: 768px) {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        display: none;
    }

    @media (min-width: 1024px) and (max-width: 1280px) {
        top: 174px;
    }
}

// СЛАЙЛЕР

.images-slider {
    background-image: url(..//images/header-img2.jpg);
}

.slider-line {
    top: 688px;
    right: -120px;

    @media (max-width: 600px) {
        display: none;
    }

    @media (min-width: 600px) and (max-width: 768px) {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        display: none;
    }

    @media (min-width: 1024px) and (max-width: 1280px) {
    }
}

.main-grey-sand {
    background-color: $main-grey-sand;
}

.main-contrast-grey-blue {
    background-color: $main-contrast-grey-blue;
}

.main-contrast-blue2 {
    background-color: $main-contrast-blue2;
}

.main-contrast-brown4 {
    background-color: $main-contrast-brown4;
}

// О нас
.img-about {
    background-image: url(/src/images/about-us.jpg);
    background-position: left 50vw top;
}

// Туры
.map-kamchatka {
    z-index: -1;
}

.title-tour {
    color: $text-black;
}

.info-tour {
    color: $main-grey;
}

.tour-color-line {
    border-color: $main-sand2;
}

// Ответы на частые вопросы
.quess-item {
    background-color: $bg-light;
}

.icon-quess {
    color: $main-sand;
}

.click-question {
    transition: transform 0.5s ease-in;
}

.answer {
    display: none;
}

// Отзывы
.image-review {
    border-radius: 60px;
    z-index: -1;

    @media (max-width: 600px) {
        display: none;
    }

    @media (min-width: 600px) and (max-width: 768px) {
        display: none;
    }

    @media (min-width: 600px) and (max-width: 930px) {
        width: 100%;
    }
}

.review-list {
    width: 600px;
    left: 0;
    transition: all ease 1s;

    @media (max-width: 600px) {
        width: 100%;
    }

    @media (min-width: 600px) and (max-width: 768px) {
        width: 100%;
    }
}

.review-item {
    background: $bg-light;

    @media (max-width: 600px) {
        box-shadow: 0px 10px 10px $main-grey-blue;
    }

    @media (min-width: 600px) and (max-width: 768px) {
        box-shadow: 0px 10px 10px $main-grey-blue;
    }
}

.author-foto {
    background-color: #b8a88a;
}

.date-review {
    color: $text-grey;
}

.next-btn,
.prev-btn {
    @media (min-width: 768px) and (max-width: 1024px) {
        background-color: #fff;
        padding: 10px;
        border-radius: 20px;
    }
}
